:root {

  --primary-color: #a6a6a6;
  --secondary-color: #595959;
  --tertiary-color: #7b0707ea;
  --light-color: #d9d9d9fc;
  --dark-color: #201d1d;


  --font-title: ;
  --font-text: 'Times New Roman', Times, serif;
  --font-mainTitle: "Italianno", cursive;
  --font-title: "Cormorant", serif;
  --font-text: "Libre Franklin", sans-serif;

}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
}

input[type=text],
textarea,
input[type=email] {
  --border-color:#ccc;
  width: 100%;
  padding: 12px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
  overflow: scroll;
}

label {
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}

button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--tertiary-color);
}

.container {
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--light-color);
  padding: 20px;
  width: 100%;
  max-width: 440px;
  margin: 0 auto;
  font-family: var(--font-text);
  box-shadow: 4px 4px 1rem -0.5rem var(--secondary-color);
}

.container > a {
  background-color: var(--secondary-color);
  border: 1px solid var(--tertiary-color);
  color: var(--light-color);
  text-decoration: none;
  padding: 0.20rem;
  border-radius: 45%;
  position:absolute;
  top:1rem;
  right:0.5rem;
}

.container > a:hover{
  background-color: var(--tertiary-color);
}

h1 {
  color: var(--tertiary-color);
  width: 100%;
  font-family: var(--font-title);
  padding: var(spacing2);

}