:root {
    --primary-color: #a6a6a6;
    --secondary-color: #595959;
    --tertiary-color: #7b0707ea;
    --light-color: #d9d9d9fc;
    --dark-color: #201d1d;

    --font-title: ;
    --font-text: "Times New Roman", Times, serif;
    --font-mainTitle: "Italianno", cursive;
    --font-title: "Cormorant", serif;
    --font-text: "Libre Franklin", sans-serif;

    --background-black: #000000c9;
    --red-blood: hsl(0, 100%, 41.2%);
    --border-shadow: 15px 8px 15px -1px rgba(0, 0, 0, 0.49);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    background-repeat: no-repeat;
    background-image: url(/assets/images/goutte.png);
}

input[type="text"],
textarea,
input[type="email"] {
    --border-color: #ccc;
    width: 100%;
    padding: 12px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
    overflow: scroll;
}

label {
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}

button {
    background-color: var(--secondary-color);
    color: var(--light-color);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: var(--tertiary-color);
}

.container {
  display: flex:
    position: relative;
    border-radius: 10px;
    background-image: url(/assets/images/11.jpg);
    padding: 20px;
    width: 100%;
    max-width: 440px;
    margin: 0 auto;
    font-family: var(--font-text);
    box-shadow: var(--border-shadow);
    border: 5px solid transparent;
    box-shadow: var(--border-shadow);
}

.container > a {
    text-decoration: none;
    padding: 0.2rem;
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    color: var(--dark-color);
}

.container > a:hover {
    background-color: var(--tertiary-color);
}

h1 {
    color: var(--tertiary-color);
    width: 100%;
    font-family: var(--font-title);
    padding: var(spacing2);
    text-shadow: 2px 2px 4px var(--light-color);
}

.mask > img {
  display: flex;
  width: 50px;
  margin: 0 auto;
  margin-top: 2rem;
}
