* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #f1f1f1;
    gap: 50px;
}

.image {
    display: flex;
    margin: -04em;

}



.heading {
    font-size: 35px;
    color: #333333;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.progress-box {
    padding: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #f4f4f4;
    box-shadow: 0 0 10px 1px #cfcfcf;
    border-radius: 10px;
}

.title {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    color: #444444;
    letter-spacing: 1px;
}

.outr-line {
    width: 516px;
    height: 17px;
    border-radius: 30px;
    background: #f8f8f8;
    padding: 0 8px;
    box-shadow: inset 4px 4px 5px #cfcfcf, inset -4px -4px 5px #ffffff;
    display: flex;
    align-items: center;
}

.inner-line {

    width: 60%;
    height: 10px;
    border-radius: 30px;
    background: #d4bb2b;
    box-shadow: 0 0 2px 1px #999999;
    position: relative;
}

.inner-line::before {
    /* content: '90%'; */
    width: 30px;
    height: 30px;
    background: #d41b31;
    color: #ffffff;
    text-shadow: 1px 1px 1px #333333;
    font-size: 10px;
    border-radius: 0% 50% 50% 50%;
    transform: rotate(45deg);
    position: absolute;
    top: -40px;
    right: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Les progress box -----> */


.html-line {
    width: 90%;
    animation: html-line 1s linear;

}

@keyframes html-line {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}

.empathie-line::before {
    content: '30%';
}

.empathie-line {
    width: 30%;
    animation: empathie-line 1s linear;
}

@keyframes empathie-line {
    0% {
        width: 0;
    }

    100% {
        width: 30%;
    }
}

.empathie-line::before {
    content: '30%';
}

.desossage-line::before {
    content: '70%';
}

.desossage-line {
    width: 70%;
    animation: desossage-line 1s linear;
}

@keyframes desossage-line {
    0% {
        width: 0;
    }

    100% {
        width: 70%;
    }
}

.seduction-line::before {
    content: '99%';
}

.seduction-line {
    width: 99%;
    animation: seduction-line 1s linear;
}

@keyframes seduction-line {
    0% {
        width: 0;
    }

    100% {
        width: 99%;
    }
}