:root {
    --primary-color: #a6a6a6;
    --secondary-color: #595959;
    --light-color: #d9d9d9;
    --dark-color: #121212;
    --background-black: #000000c9;
    --red-blood: hsl(0, 100%, 41.2%);

    --border-shadow: 15px 8px 15px -1px rgba(0, 0, 0, 0.49);

    --font-mainTitle: "Italianno", cursive;
    --font-title: "Cormorant", serif;
    --font-text: "Libre Franklin", sans-serif;

    --spacing: 0.5rem;
    --spacing1: 1rem;
    --spacing2: 2rem;
    --spacing3: 4rem;
}

html,
body {
    overflow: hidden;
}

body {

    background-color: #E9E5E2;
}

.container {
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 90vh;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;

    background-color: white;
    border-radius: 6px;

    -webkit-box-shadow: -12px 21px 15px 3px #868686;
    box-shadow: -12px 21px 15px 3px #868686;
}

.picture h1 {
    color: white;
    margin-left: 0.4rem;
    margin-top: 0.1rem;
    font-size: 50px;
    font-family: var(--font-title);
    text-shadow: 2px 2px 4px var(--dark-color);

}

.picture {
    --image: url(/assets/photo/hannibal.jpg);
    background-image: var(--image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 50%;

    position: relative;
}

#ring {
    position: absolute;
    width: 40px;
    bottom: 1rem;
    left: 1rem;
    appearance: none;
}

#ring:active {
    position: absolute;
    width: 30px;
    bottom: 1rem;
    left: 1rem;
    appearance: none;
}

#ring:checked~.picture {
    --image: url('/assets/images/darkhannibal.jpg');

}

#ring:checked~.picture>h1 {
    color: rgb(160, 2, 2);
    text-shadow: 2px 2px 4px (--dark-color);


}

#ring:checked~.layer>h1 {
    color: rgb(160, 2, 2);
}

#ring:checked~.layer {
    --image: url('/assets/images/bloodmenu.png');

}


.layer {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu>li {
    text-align: center;
}

.menuSeparator > img {
    display: block;
    margin: auto;
    width: 100px;
}

.menu {
    margin: auto;
    background-color: #fbfbfb;
    padding: 3rem;
    background-image: url(/assets/images/11.jpg);
    /*transform: rotate(3deg);*/

}

.menu p {
    margin: 0;
}

h2 {
    font-size: 60px;
    text-align: right;
    margin: 10px;
    font-family: var(--font-mainTitle);
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.12);
    text-shadow: 2px 2px 4px var(--light-color);

}

.layer h1 {
    text-align: right;
    margin-right: 1rem;
    font-size: 50px;
    font-family: var(--font-title);
    margin-bottom: 0;
    margin-top: 0;
    text-shadow: 2px 2px 4px var(--light-color);

}

a {
    font-family: var(--font-title);
    font-size: 20px;
    text-decoration: none;
}

svg {
    color: var(--dark-color);
}

/*---------------------------------------------ASSIETTE---------------------------------*/
.plate {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    background-color: #e4e4e4;
    border-radius: 50%;
    justify-content: center;
    font-size: 15px;
    box-shadow: 2px 2px 8px 2px #000;
    padding: 80px;
    margin: 20px;
}

.inner_plate {
    align-self: center;
    border-radius: 50%;
    height: fit-content;
    width: fit-content;
    border: #dddddd solid 2px;
    background-color: #d2d2d2;
    font-size: 1rem;
    box-shadow: 0 0 10px 10px #cfcfcf;
    justify-content: center;
    padding: 194px;
    text-align: center;
}

.inner_plate img {
    margin-top: 5px;
    max-width: 100%;
    max-height: 150px;
    border-radius: 40%;
    z-index: 1;
    position: relative;
    margin: 25px 2px;
}

.inner_plate h3 {
    max-width: 250px;
    padding: 0 15px;
}

.inner_plate::after {
    content: "";
    position: absolute;
    background-color: #e3e3e3;
    height: 40%;
    width: 20%;
    display: block;
    border-radius: 50%;
    transform: rotate(34deg);
    right: 21%;
    top: 42%;
    font-size: inherit;
    box-shadow: -0.6em 0.2em 1em 1em #e3e3e3;
}

/*-----------------------------------POSITION PLATE (jouer avec top et left .plate)-----------------------------*/

.layer {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: var(--image, none);
}

.menu {
    width: 50%;
    padding: 3rem;
    padding-top: 1rem;
    padding-bottom: 0;
    position: relative;
    z-index: 1;
    box-shadow: 15px 8px 15px -1px rgba(71, 71, 71, 0.49);
}

.logo>img {
    display: flex;
    margin: auto;
    width: 70px;
    margin-top: 1rem;
}

.menu>.goutte>img {
    display: flex;
    width: 100px;
    margin: 0;

}

.plate {
    position: absolute;
    top: 15%;
    left: 47%;
    transform: translateX(-50%);
    z-index: 0;
}

/*modal*/

dialog {
    min-height: 60vh;
    max-height: 80vh;
    box-shadow: 0 0 100vmax 100vmax rgba(0, 0, 0, 0.8);
    overflow: auto;
    border-radius: 10px;
}

dialog .close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    text-decoration: none;
}

/*modal formation*/
#more_formation:target {
    position: fixed;
    top: 100px;
    margin: auto;
    display: block;
    width: 65%;
    height: 80%;
    background-image: url(/assets/images/tache2_sang_experience.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#formation>h1 {
    margin: 0;
    font-family: var(--font-title);
    font-size: 22px;
    text-align: center;
}

#formation>a {
    color: #000;
    font-family: var(--font-title);
    font-size: 20px;
}

/*modal experiences*/
#more_experience:target {
    position: fixed;
    top: 100px;
    margin: auto;
    display: block;
    width: 80%;
    height: 80%;
    background-image: url(/assets/images/tache_sang_formation.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#experience > h1 {
    margin: 0;
    font-family: var(--font-title);
    font-size: 22px;
    text-align: center;
}

#experience > a {
    color: #000;
    font-family: var(--font-text);
    font-size: 20px;
}


/*modal interets*/
#more_interets:target {
    position: fixed;
    top: 100px;
    margin: auto;
    display: block;
    width: 55%;
    height: 80%;
    background-image: url(/assets/images/sang2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#interets>h1 {
    margin: 0;
    font-family: var(--font-title);
    font-size: 22px;
    text-align: center;
}

#interets>a {
    color: #000;
    font-family: var(--font-title);
    font-size: 20px;
}

/*modal talents*/
#more_talents:target {
    position: fixed;
    top: 100px;
    margin: auto;
    display: block;
    width: 55%;
    height: 80%;
    background-image: url(/assets/images/bloodmenu.png);
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#talents>h1 {
    margin: 0;
    font-family: var(--font-title);
    font-size: 22px;
    text-align: center;
}

#talents>a {
    color: #000;
    font-family: var(--font-title);
    font-size: 20px;
}

/*modal coordonnees*/
#more_coordonnee:target {
    position: fixed;
    top: 100px;
    margin: auto;
    display: block;
    width: 60%;
    height: 100%;
    background-image: url(/assets/images/sang2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#coordonnee>h1 {
    margin: 0;
    font-family: var(--font-title);
    font-size: 22px;
    text-align: center;
}

#coordonnee>a {
    color: #000;
    font-family: var(--font-title);
    font-size: 20px;
}

/*modal contact*/
#more_contact:target {
    position: fixed;
    top: 100px;
    margin: auto;
    display: block;
    width: 55%;
    height: 80;
    z-index: 2;

}

#contact > h1 {
    margin: 0;
    font-family: var(--font-title);
    font-size: 20px;
    text-align: center;
}

#contact>a {

    font-family: var(--font-title);
    font-size: 18px;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    box-shadow: 1px 1px 4px var(--secondary-color);
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: 0.5rem;
    text-shadow: 2px 2px 4px var(--light-color);

}

@media screen and (max-width: 1300px) {

    html,
    body {
        overflow: scroll;
    }

    body {
        width: 100%;
        height: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
        height: auto;
        margin: auto;
        width: 100vw;


    }

    h1 {
        font-size: 40px;
        margin: 0;


    }

    .picture {
        background-image: none;
    }

    h1>.picture {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    .layer {
        width: 100%;
        height: 100%;
    }


    .menu {
        padding: 2rem;
        width: 50%;
    }

    .plate {
        padding: 40px;
        margin: 10px;
    }

    .inner_plate {
        padding: 100px;
    }


    .layer h1 {
        font-size: 30px;
        text-align: left;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 40px;
    }
    .interetsBody {
        width: 100%;
        margin: 0;
    }

    #more_formation:target {
        width: 100%;
    }

    #more_experiences:target {
        width: 100%;
    }

    #more_interets:target {
        width: 100%;
    }
    
    #more_talent:target {
        width: 100%;
    }
    #more_coordonnees:target {
        width: 100%;

    }

    #more_contact:target {
        width: 100%;
    }
    
    
    
}

@media screen and (max-width: 800px) {
    .menu {
        padding: 2rem;
        width: 80%;
    }

    .plate {
        display: none;
    }

    .container {
        margin: 0;
    }
}
