:root {
    --primary-color: #A6A6A6;
    --secondary-color: #595959;
    --light-color: #D9D9D9;
    --dark-color: #121212;
    --background-black: #000000c9;
    --red-blood: hsl(0, 100%, 50%);
    --border-shadow: 15px 8px 15px -1px rgba(0, 0, 0, 49);

    --font-text: 'Times New Roman', Times, serif;
    --font-mainTitle: "Italianno", cursive;
    --font-title: "Cormorant", serif;
    --font-text: "Libre Franklin", sans-serif;

}

body {
    background: #E9E5E2;
}

.talentsBody>h1 {
    font-family: var(--font-title);
    font-size: 60px;
    text-align: left;
    margin: 1rem;

}

.textAccueil h1 {
    font-family: var(--font-title);
    font-size: 60px;
    text-align: left;
    margin: 2rem;

}


#SkillBox {
    font-size: 60px;
    font-family: var(--font-mainTitle);
    font-style: --red-blood hsl(0, 100%, 41.2%);
    text-align: left;
    width: 65%;
    height: auto;
    margin: 8rem;
    background-color: #000000c9;
    border: 5px solid transparent;
    border-radius: 19px 19px 19px 19px;
    -webkit-box-shadow: 13px 11px 12px 13px rgba(156, 156, 156, 0.88);
    box-shadow: 13px 11px 12px 13px rgba(156, 156, 156, 0.88);




}

#SkillBox img {
    width: 10%;
    height: 10%;
    margin: auto 50%;
    padding: 10px;
}

.SkillBar {
    width: 90%;
    height: 50px;
    position: relative;
    background: rgba(17, 17, 17, .3);
    margin: 20px auto;
    border-radius: 10px 10px;

}

#Skill-HTML {
    width: 100%;
    animation: Animate-HTML 4s;
    -webkit-animation: Animate-HTML 4s;
    -moz-animation: Animate-HTML 4s;
    -o-animation: Animate-HTML 4s;
    height: 50px;
    position: absolute;
    background-color: #CCCCCC;
    border-radius: 10px 10px;

}

@keyframes Animate-HTML {
    from {
        width: 10px;
    }

    to {
        width: 100%
    }
}

@-webkit-keyframes Animate-HTML {
    from {
        width: 10px;
    }

    to {
        width: 100%
    }
}

@-moz-keyframes Animate-HTML {
    from {
        width: 10px;
    }

    to {
        width: 100%
    }
}

@-o-keyframes Animate-HTML {
    from {
        width: 10px;
    }

    to {
        width: 100%
    }
}

#Skill-CSS {
    animation: Animate-CSS 5s;
    -webkit-animation: Animate-CSS 5s;
    -moz-animation: Animate-CSS 5s;
    -o-animation: Animate-CSS 5s;
    width: 70%;
    height: 50px;
    position: absolute;
    background-color: #999999;
    border-radius: 10px 10px;

}

@keyframes Animate-CSS {
    from {
        width: 10px;
    }

    to {
        width: 70%
    }
}

@-webkit-keyframes Animate-CSS {
    from {
        width: 10px;
    }

    to {
        width: 70%
    }
}

@-moz-keyframes Animate-CSS {
    from {
        width: 10px;
    }

    to {
        width: 70%
    }
}

@-o-keyframes Animate-CSS {
    from {
        width: 10px;
    }

    to {
        width: 70%
    }
}

#Skill-jQuery {
    animation: Animate-jQuery 5s;
    -webkit-animation: Animate-jQuery 5s;
    -moz-animation: Animate-jQuery 5s;
    -o-animation: Animate-jQuery 5s;
    width: 90%;
    height: 50px;
    position: absolute;
    background-color: #666666;
    border-radius: 10px 10px;

}

@keyframes Animate-jQuery {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

@-webkit-keyframes Animate-jQuery {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

@-moz-keyframes Animate-jQuery {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

@-o-keyframes Animate-jQuery {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

#Skill-JS {
    animation: Animate-JS 4s;
    -webkit-animation: Animate-JS 4s;
    -moz-animation: Animate-JS 4s;
    -o-animation: Animate-JS 4s;
    width: 85%;
    height: 50px;
    position: absolute;
    background-color: #474545e7;
    border-radius: 10px 10px;

}

@keyframes Animate-JS {
    from {
        width: 10px;
    }

    to {
        width: 85%
    }
}

@-webkit-keyframes Animate-JS {
    from {
        width: 10px;
    }

    to {
        width: 85%
    }
}

@-moz-keyframes Animate-JS {
    from {
        width: 10px;
    }

    to {
        width: 85%
    }
}

@-o-keyframes Animate-JS {
    from {
        width: 10px;
    }

    to {
        width: 85%
    }
}

.Skill-Area {
    z-index: 1;
    float: left;
    position: absolute;
    margin-top: 5px;
    margin-left: 35px;
    text-shadow: none;
    color: hsl(0, 0%, 100%);
    font-family: var(--font-title);
    font-size: 30px;
    font-weight: bolder;

}

.PercentText {
    z-index: 3;
    position: relative;
    padding-right: 15px;
    margin-top: 8px;
    float: right;
    text-shadow: none;
    color: hsl(0, 100%, 50%);
    font-family: var(--font-title);
    font-size: 28px;
    font-weight: bolder;
}